@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alegreya&family=Bitter:wght@100&family=Gochi+Hand&family=Open+Sans:wght@300&family=Piazzolla:wght@100&display=swap');

/* font-family: 'Open Sans', sans-serif; */

.title {
    color: #6439FF;
    font-weight: 100;
    font-size: 80px;
    margin-bottom: 5rem;
}

h5 {
    color: #6439FF;
}

h2 { 
    font-weight: 100;
    font-size: 50px;
    color: #6439FF;
}

.textWhite {
    color: white;
}

.textVioleta {
    color: #6439FF;
}


#alegreya {
    font-family: 'Alegreya', serif;
}

#acme {
    font-family: 'Acme', sans-serif;
}

#bitter {
    font-family: 'Bitter', serif;
}

#gochi {
    font-family: 'Gochi Hand', cursive;
}

#piazzolla {
    font-family: 'Piazzolla', serif;
}

/* 
.alegreya {
    font-family: 'Alegreya', serif;
}

.ame {
    font-family: 'Acme', sans-serif;
}

.bitter {
    font-family: 'Bitter', serif;
}

.gochi {
    font-family: 'Gochi Hand', cursive;
}

.piazzolla {
    font-family: 'Piazzolla', serif;
} */


.box1 {
    display: none;
    background-color: #6439FF;
    height: 80px;
    padding-top: 30px;
    padding-left: 30px;
}

.btn1 {
    color: white;
    border: 1px solid #6439FF;
    background-color: #6439FF;
    border-radius: 3px 3px 0 0;
    padding: 6px 12px;
    width: 200px;
}

.btnTester {
    color: #6439FF;
    border: 1px solid #6439FF;
    background-color: white;
    border-radius: 3px;
    padding: 6px 12px;
}

.print {
    margin-top: 50px;
    color: #86809c;
}

.contenedorTester {
    background-color: #F4F4FF;
    padding: 2rem;
    margin-bottom: 40px;
    margin-top: 3rem;
    color: #6439FF;
}

.boxTester {
    background-color: white;
    color: #6439FF;
    height: 50px;
    padding: 10px;
}

/* color: #76f7b9; */

.box-option {
    color: #6439FF;
    border-color: #76f7b9;;
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    width: 15rem;
}

.boxNews {
    margin-top: 3rem;
    background-color: #F4F4FF;
    padding: 3rem;
}


.form-box {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6439FF;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #76f7b9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-box2 {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #6439FF;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #76f7b9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* padding: 15px;
margin-bottom: 40px;
margin-top: 80px; */